:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-gray: #293449;
  --basic-graynormal: #32425c;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --wight: #fff;
  --colorfonts: #000000;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --error: #BA2732;
  --garnitura: #f7f3ec;
  --sale: #a9a9a9;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2'),
       url('../fonts/cuprum.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbold.woff2') format('woff2'),
       url('../fonts/cuprumbold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
       url('../fonts/cuprumbolditalic.woff') format('woff');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumitalic.woff2') format('woff2'),
       url('../fonts/cuprumitalic.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'pt sans';
  src: url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'pt sans';
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

body {
  padding: 0;
  margin: 0;
  min-width: 960px;
  color: var(--colorfonts);
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: var(--wight);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.all-page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header-top-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

.header-logo {
  padding: 15px 55px;
}

.bookmarks,
.basket {
  padding-left: 9px;
}

.header-login {
  padding-left: 6px;
}

.header-bottom{
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.offers-column {
  /*display: flex;*/
}

.main-header {
  background-color: var(--basic-background);
  margin-bottom: 60px;
}

.header-top {
  background-color: var(--basic-gray);
  color: var(--wight);
  font-size: 18px;
  font-weight: normal;
}

.header-links a{
  color: var(--wight);
  line-height: 24px;
}

.order {
  background-color: var(--basic-green);
}

.basket-complete {
  background-color: var(--basic-red);
}

.order:hover,
.order:focus {
  background-color: var(--success);
}

.header-links a:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-logo {
  background-color: var(--basic-red);
  width: 108px;
  height: 18px;
}

.header-description {
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0;
  padding: 0;
}

.header-contacts {
  text-align: center;
}

.header-phone {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-red);
  line-height: 30px;
}

.header-adress {
  font-size: 14px;
  color: var(--basic-graynormal);
  line-height: 24px;
}

.header-notifications {
  font-size: 21px;
}

.header-login,
.header-registration,
.name-client {
  background-color: var(--wight);
  color: var(--colorfonts);
  line-height: 21px;
}

.my-order,
.personal-area {
  color: var(--basic-graynormal);
  font-size: 16px;
  line-height: 18px;
}

.header-login:hover,
.header-login:focus,
.header-registration:hover,
.header-registration:focus,
.my-order:hover,
.my-order:focus,
.personal-area:hover,
.personal-area:focus {
  color: var(--basic-red);
}

.header-login:active,
.header-registration:active,
.my-order:active,
.personal-area:active {
  color: var(--basic-greylight);
}

.header-navigation {
  background-color: var(--basic-graynormal);
  color: var(--wight);
  border-bottom: 5px solid var(--basic-gray);
  font-size: 18px;
  line-height: 24px;
}

.site-navigation {
  list-style: none;
}

.site-navigation a{
  color: var(--wight);
  line-height: 24px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-gray);
}

.site-navigation a:active {
  background-color: #1D2739;
  color: rgba(255, 255, 255, 0.5);
}

.main-information {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 70px;
}

.main-information h2,
.information-first,
.information-two,
.list-delivery {
  margin: 0;
  padding: 0;
}

.list-delivery {
  list-style: none;
}

.list-delivery li {
  margin-bottom: 12px;
}

.list-delivery li:last-child {
  margin-bottom: 20px;
}

.information-first {
  margin-bottom: 35px;
}

.main-information h2 {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.information-description {
  width: 460px;
}

.contacts-map {
  width: 300px;
}

.contacts-map p {
  margin: 0;
  padding: 0;
}

.preview-map {
  width: 300px;
  height: 158px;
  margin: 32px 0 25px 0;
}

.main-information p{
  font-family: 'pt sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.list-delivery li{
  font-size: 18px;
  line-height: 24px;
}

.information-button {
  font-size: 14px;
  color: var(--wight);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.footer {
  background-color: var(--basic-graynormal);
  color: var(--wight);
}

.footer-top {
  display: flex;
}

.footer a {
  color: var(--wight);
}

.footer-logo {
  background-color: var(--basic-red);
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
}

.footer-list-white,
.footer-list-yellow {
  list-style: none;
}

.footer-list a {
  font-size: 18px;
  line-height: 24px;
}

.footer-list a:hover,
.footer-list a:focus {
  text-decoration: underline;
}

.footer-list-white a:active {
  color: #F1F5F7;
  opacity: 0.5;
  text-decoration: none;
}

.footer-list-yellow a:active {
  color: #FFD180;
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  background-color: var(--basic-gray);
}

.copyright,
.footer-mail,
.footer-link {
   font-size: 16px;
   line-height: 18px;
 }

.footer-list-yellow a,
.footer-mail a,
.footer-link a {
  color: var(--special-yellowlight);
}

.footer-social {
  list-style: none;
}

.social-vk,
.social-fb,
.social-insta {
  background-color: #212a3a;
}

.social-vk:hover,
.social-vk:focus,
.social-fb:hover,
.social-fb:focus,
.social-insta:hover,
.social-insta:focus {
  background-color: var(--basic-red);
}

.footer-mail a:hover,
.footer-mail a:focus,
.footer-link a:hover,
.footer-link a:focus {
  text-decoration: underline;
}

.footer-mail a:active,
.footer-link a:active {
  text-decoration: none;
  color: var(--basic-red);
}

.breadcrumbs {
  font-size: 13px;
  font-family: 'pt sans', Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: var(--colorfonts);
  line-height: 18px;
}

.catalog-headline {
  font-size: 30px;
  text-transform: uppercase;
  background-color: #F2F6F8;
  color: var(--basic-graynormal);
  font-weight: normal;
  line-height: 30px;
}

.filter h2 {
  font-family: 'pt sans', Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 18px;
}

.filter legend {
  font-family: 'pt sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
}

.filter label {
  font-family: 'pt sans', Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 19px;
}

.filter-button {
  font-family: 'pt sans', Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  background-color: var(--wight);
}

.catalog-item h2 {
  font-family: 'pt sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.catalog-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.catalog-sale {
  font-family: 'pt sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--sale);
  text-align: center;
}

.catalog-price {
  font-family: 'pt sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--wight);
  background-color: var(--basic-red);
  text-align: center;
}

.catalog-item-action {
  text-align: center;
}

.catalog-item-buy button {
  background-color: var(--basic-green);
  text-transform: uppercase;
  font-size: 14px;
  color:var(--wight);
  border: none;
}

.catalog-item-marker a {
  color:var(--basic-graynormal);
  text-transform: uppercase;
  font-size: 14px;
  border: 3px solid var(--basic-green);
}

.catalog-item-buy button:hover,
.catalog-item-buy button:focus {
  background-color: var(--success);
}

.catalog-item-buy button:active {
  background-color: #518534;
}

.catalog-item-marker a:hover,
.catalog-item-marker a:focus {
  border: 3px solid var(--basic-graynormal);
}

.catalog-item-marker a:active {
  opacity: 0.5;
}

.new {
  font-size: 14px;
  text-align: center;
  color: var(--wight);
  background-color: var(--basic-red);
}

.offers, .offers a{
  color: var(--wight)
}

.offer a{
  background-color: rgba(255, 255, 255, 0.3);
}

.offer a:hover,
.offer a:focus {
  background-color: #c5c5c5;
}

.offer a:active {
  background-color: #a9a9a9;;
}

.offer-materials {
  background-color: var(--special-ylellow);
}

.offer-tool {
  background-color: var(--special-blue);
}

.offer-technique {
  background-color: var(--special-lilac);
}

.slider-head {
  background: rgba(0, 0, 0, 0.25);
}

.slider-link-catalog {
  background-color: var(--basic-red);
}

.slider-link-catalog:active {
  background-color: #BA2732;
}

.offer-slider h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.offer-slider p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.offer-sale {
  background-color: #8ED78F;
}

.offer-delivery {
  background: #FFC047;
}

.catalog-popular-headline,
.popular-firm-headline {
  background-color: #F9F5F0;
}

.catalog-popular-headline h2,
.popular-firm-headline h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-graynormal);
}

.catalog-popular-headline a,
.popular-firm-headline a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--wight);
  background-color: var(--basic-red);
}

.catalog-popular-headline a:active,
.popular-firm-headline a:active {
  background-color: #BA2732;
}

.firm-logos {
  list-style: none;
}

.firm-logo:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.firm-logo:active{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

.services {
  background-color: var(--basic-background);
}

.services-headline h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-headline p,
.tab-variant p {
  font-family: 'pt sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.services-tab label {
  font-size: 21px;
  line-height: 30px;
  color: var(--wight);
  background-color: var(--basic-graynormal);
}

#radio1:checked ~ label[for=radio1],
#radio2:checked ~ label[for=radio2],
#radio3:checked ~ label[for=radio3] {
  color: var(--basic-graynormal);
  background-color: var(--wight);
}

.tab-variant h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-graynormal);
  text-transform: uppercase;
}

.variant-delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
}

.variant-guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
}

.variant-credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
}

.variant-credit a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--wight);
  background-color: var(--basic-red);
}

.variant-credit a:active {
  background-color: #BA2732;
}

.sorting {
  background-color: var(--garnitura);
}

.sorting-headline, .sorting-variant a {
  font-family: 'pt sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-variant {
  list-style: none;
}

.sorting-variant a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-variant a:hover,
.sorting-variant a:focus {
  color: var(--colorfonts);
  border-bottom: 1px solid var(--basic-red);
}

.sorting-variant a:active {
  color: var(--basic-red);
  border-bottom: none;
}

.sorting-direction {
  display: flex;
}

.sorting-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #C5C5C5;
}

.sorting-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #C5C5C5;
}

.sorting-up:hover,
.sorting-up:focus {
  border-bottom: 10px solid var(--colorfonts);
}

.sorting-down:hover,
.sorting-down:focus{
  border-top: 10px solid var(--colorfonts);
}

.sorting-up:active {
  border-bottom: 10px solid var(--basic-red);
}

.sorting-down:active {
  border-top: 10px solid var(--basic-red);
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  padding: 10px 15px;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  color: var(--colorfonts);
  text-transform: uppercase;
  font-family: 'pt sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.active-page a {
  background-color: var(--basic-red);
  color: var(--wight);
}

.pagination-list a:hover,
.pagination-list a:focus {
  border: 1px solid #C5C5C5;
}

.pagination-list a:active {
  border: 1px solid var(--basic-red);
}

.catalog-bottom-description h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-bottom-description p {
  font-family: 'pt sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
